html,
body {
    height: 100%;

}

body {
    margin: 0;
    background-color: rgb(249 249 249);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img[svg] {
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* * { border: 0.5px dashed rgba(0, 0, 0, 0.15); } */

/*
    Контейнера
 */
.container {
    max-width: 800px;
    min-height: 350px;
    margin: 0 auto;
    padding: 8px 0;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: calc(100vh - 50px);
    margin: 0 16px;
}

.box__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.box__row--grow {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.box__row--controls {
    margin-top: 16px;
    padding-bottom: 35px;
}

/*
    Список сортировки
 */
.sorting-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
}

.sorting-list {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 450px;
    min-width: 190px;
}

.sorting-list__item {
    position: relative;
    background-color: rgb(255, 255, 255);
    /* margin-bottom: 1.5px; */
    border: 1px solid rgba(0, 0, 0, 0.15);
    /* border-radius: 5px; */
    text-align: center;
    vertical-align: baseline;
    overflow: hidden;
}

.sorting-list__item--dragging {
    position: fixed;
    box-shadow:
        0 5px 5px -5px rgb(0 0 0 / 20%),
        0 -5px 5px -5px rgb(0 0 0 / 20%);
    opacity: .8;
}

.item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 8px;
}

.item-content__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 12px 8px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2.5px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.item-content__move,
.item-content__remove {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.item-content__move {
    background-color: rgba(32, 202, 253, 0.212);
    cursor: move;
    touch-action: none;
    -ms-touch-action: none;
}

.item-content__remove {
    background-color: rgba(253, 32, 32, 0.212);
    cursor: pointer;
}

/*
    Контроллеры
 */
.btn-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(212, 212, 212, 0.301);
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}

.btn-circle.one {
    background-color: rgba(255, 5, 234, 0.301);
}

.btn-circle.two {
    background-color: rgba(255, 197, 5, 0.562);
}

.btn-circle.three {
    background-color: rgba(5, 255, 80, 0.37);
}
